<table class="table table-borderless">
    <tr>
        <td>Nama Hubungan Pasien</td>
        <td>
            <input id="namaHubunganPasienInput" class="form-control" maxlength="50">
            <small id="errNamaHubunganPasien" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="addHubunganPasienBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addHubunganPasienBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../hubunganpasien/addhubunganpasien.js"></script>