<input th:value="${id}" type="hidden" id="deleteHubunganPasienId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Nama Hubungan Pasien</th>
        <td id="namaHubunganPasienDel">name</td>
    </tr>

</table>
<button id="deleteHubunganPasienBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteHubunganPasienBtnDelete" class="btn btn-danger">Delete</button>

<script src="../hubunganpasien/deletehubunganpasien.js"></script>