<table class="table table-borderless">
    <tr>
        <td>Nama Dokter</td>
        <td>
            <input id="namaDokterInput" class="form-control" maxlength="50">
            <small id="errnamaDokter" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nomor Str</td>
        <td>
            <input id="nomorStrInput" class="form-control" maxlength="50">
            <small id="errnomorStr" class="text-danger"></small>
        </td>
    </tr>


    <tr>
        <td></td>
        <td>
            <button id="addnamaDokterBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addnamaDokterBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../biodatadokter/addbiodatadokter.js"></script>