<input th:value="${id_treatment}" type="hidden" id="treatmentDelId">
<h5>Anda Yakin DiHapus ?</h5>

<table class="table table-borderless table-sm">

    <tr>
        <th>Tindakan</th>
        <td id="namaTreatmentDel"> name </td>
    </tr>


</table>
<button id="delTreatmentBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="delTreatmentBtnDelete" class="btn btn-danger">Hapus</button>

<script src="../doktertreatment/deletedoktertreatment.js"></script>