<input th:value="${id}" type="hidden" id="deleteGolonganDarahId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">

</table>
<button id="deleteGolonganDarahBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteGolonganDarahBtnDelete" class="btn btn-danger">Delete</button>

<script src="../golongandarah/deletegolongandarah.js"></script>