<table class="table table-borderless">
    <tr>
        <td>Nama</td>
        <td>
            <input id="name" class="form-control" maxlength="50">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nama Singkat</td>
        <td>
            <input id="abbreviation" class="form-control" maxlength="50">
            <small id="errNamaSingkat" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="addCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="addCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../locationlevel/addlocationlevel.js"></script>