<input th:value="${id}" type="hidden" id="deleteSpesialisasiDokterId">
<h5>Apakah anda yakin ingin menghapus spesialis? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Spesialis Dokter</th>
        <td id="idDelete">name</td>
    </tr>

</table>
<button id="deleteBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteBtnDelete" class="btn btn-danger">Delete</button>

<script src="../spesialisasidokter/deletespesialisasidokter.js"></script>