<input th:value="${id}" type="hidden" id="deleteNominalId">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>Nominal</th>
        <td id="nominalDel">name</td>
    </tr>

</table>
<button id="deleteNominalBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="deleteNominalBtnDelete" class="btn btn-danger">Delete</button>

<script src="../nominaldompetelektronik/deletenominaldompetelektronik.js"></script>