<input th:value="${id}" type="hidden" id="infoTreatmentId">
<table class="table table-borderless" id="inputTreatmentTable" table-layout="auto">
    <thead>
    <tr class="text-center">
        <th class="align-middle">Treatment</th>
        <th class="align-middle">Action</th>
    </tr>
    </thead>
    <tbody id="infoTBody"></tbody>
</table>
<td>
    <button id="btnTambahTreatment" class="btn btn-outline-dark"> Tambah </button>
</td>
<script src="../profildoktershare/info-treatment.js"></script>
